{% extends 'admin_panel/base.html' %}
{% block body %}
{% if request.user.is_authenticated %}
<div class="row d-flex justify-content-center">
    <div class="col-sm-3">
        <div class="card text-white bg-dark rounded m-3 p-1" style="width: 18rem;">
            <img src="/media/admin_panel_images/users.png" class="card-img-top" alt="users-icon" width="240">
            <div class="card-body text-center">
                <a href="{% url 'bot-users' %}" class="link-light text-decoration-none"><h2>Bot Users table</h2></a>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card text-white bg-dark rounded m-3 p-1" style="width: 18rem;">
            <img src="/media/admin_panel_images/recipe-book.png" class="card-img-top" alt="recipe-book-icon" width="240">
            <div class="card-body text-center">
                <a href="{% url 'recipes' %}" class="link-light text-decoration-none"><h2>Recipes</h2></a>
            </div>
        </div>
    </div>
</div>
{% else %}
<div class="container">
    <h1>Welcome to RecipeBook admin panel!</h1>
    <h2>Please, <a href="{% url 'login' %}" class="btn btn-dark"> Log in </a></h2>
</div>
{% endif %}
{% endblock %}