{% extends 'admin_panel/base.html' %}
{% block body %}
{% if request.user.is_authenticated %}
<div class="row">
    <div class="col-sm-6">
        <div class="card text-white bg-dark">
            <div class="card-body text-center">
                <a href="{% url 'bot-users' %}" class="link-light text-decoration-none"><h2>Bot Users list</h2></a>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card text-white bg-dark">
            <div class="card-body text-center">
                <a href="{% url 'recipes' %}" class="link-light text-decoration-none"><h2>Recipes</h2></a>
            </div>
        </div>
    </div>
</div>
{% else %}
<div class="container">
    <h1>Welcome to RecipeBook admin panel!</h1>
    <h2>Please, log in</h2>
</div>
{% endif %}
{% endblock %}